/* Chart Colours */
$red         : #ED524A;
$cement      : #AFAFAF;
$green       : #8CD674;
$blue        : #579AD6;
$light-orange: #FCA853;
$purple      : #9F65AD;
$brown       : #A41B1B;
$turquoise   : #4A9FA6;
$orange      : #F46508;
$yellow      : #FDED4D;

/* Over-ride Foundation base palette */

// Greys
$light-gray : #F5F6F7;
$medium-gray: #E3E4E5;
$dark-gray  : #8A8A8A;
$black      : #000;
$white      : #fff;

$foundation-palette: (
  primary: $green,
  secondary: $dark-gray,
  success: #3adb76,
  warning: $orange,
  alert: $red,
);


/* Tribes */
$tribe-london     : $red;
$tribe-avalon     : lighten($cement, 20%);
$tribe-berlin     : $green;
$tribe-four       : $blue;
$tribe-inna       : $light-orange;
$tribe-munich     : $purple;
$tribe-tammerforce: $brown;
$tribe-south      : $turquoise;
$tribe-stockholm  : $orange;
$tribe-vesa       : $yellow;


