.averages-graph {
    background-color: $light-gray;
    padding-top: 2rem;
}

.graph {
    width: 100%;
    height: 300px;
    margin: 0 auto;
}

.highcharts-background {
    fill: transparent;
}

.highcharts-root,
.highcharts-background {
    height: 300px;
}
.highcharts-legend-item,
.highcharts-credits {
    display: none
}

